# cache
.godot/

# vscode
.vscode/

# bin
bin/*
!bin/readme.md

# icons
theme/generated_icons/*
!theme/generated_icons/readme.md
theme/icons/*.svg.import

# export templates
export_templates/*
!export_templates/readme.md
export_presets.cfg

# plugins
packed_plugins/*
!packed_plugins/readme.md

# playground
playground/*
!playground/readme.md

# ignore
!*.gdignore

# custom
plugins/PixelDesigner.UpdateSpinner/icons/*.svg.import
