# cache
.pixel_designer/

# vscode
.vscode/

# bin
bin/*.zip
bin/*.exe
bin/*.pck

# import
theme/icons/*.svg.import

# export templates
export_templates/*.exe

# plugins
*.pixel_plugin

# custom
plugins/PixelDesigner.UpdateSpinner/icons/*.svg.import
